<table>
  <tr>
    <th></th>
    <th class="ui-widget-header ui-corner-all">Usuário</th>
    <th class="ui-widget-header ui-corner-all">Texto</th>
    <th class="ui-widget-header ui-corner-all">Tweetado em</th>
    <th class="ui-widget-header ui-corner-all">Geo</th>
    <th class="ui-widget-header ui-corner-all">Localização</th>
    <th class="ui-widget-header ui-corner-all">Perfil criado em</th>
    <th class="ui-widget-header ui-corner-all">Língua</th>
    <th class="ui-widget-header ui-corner-all">Descrição</th>
    <th class="ui-widget-header ui-corner-all">Favoritos</th>
    <th class="ui-widget-header ui-corner-all">Seguidores</th>
    <th class="ui-widget-header ui-corner-all">Amigos</th>
    <th class="ui-widget-header ui-corner-all">Tweets</th>
  </tr>
 {% for b in busca%} 
  <tr>
	<td class="ui-widget-content ui-corner-all"><img src="{{ b.profile_image_url}}"/></td>
	<td class="ui-widget-content ui-corner-all"><a href="http://twitter.com/{{ b.from_user}}">{{ b.from_user}}</a></td>
	<td class="ui-widget-content ui-corner-all">{{ b.text}}</td>
	<td class="ui-widget-content ui-corner-all">{{ b.tweet_created_at}}</td>
	<td class="ui-widget-content ui-corner-all">{{ b.geo }}</td>
	<td class="ui-widget-content ui-corner-all">{{ b.location }}</td>
	<td class="ui-widget-content ui-corner-all">{{ b.created_at }}</td>
	<td class="ui-widget-content ui-corner-all">{{ b.lang }}</td>
	<td class="ui-widget-content ui-corner-all">{{ b.description }}</td>
	<td class="ui-widget-content ui-corner-all">{{ b.favourites_count }}</td>
	<td class="ui-widget-content ui-corner-all">{{ b.followers_count }}</td>
	<td class="ui-widget-content ui-corner-all">{{ b.friends_count }}</td>
	<td class="ui-widget-content ui-corner-all">{{ b.statuses_count }}</td>
  </tr>
  {% endfor %}
</table>