<html>
	<head>
		<title>Twitter To XML</title>

		<!-- CSS -->
		<link type="text/css" rel="stylesheet" href="media/css/ui-lightness/jquery-ui-1.8.16.custom.css" />
		<link type="text/css" rel="stylesheet" href="media/css/estilos.css" />

		<!-- Javascript -->
		<script type="text/javascript" src="media/js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="media/js/scripts.js"></script>
	</head>
	<body>
		<fieldset class="ui-widget-content ui-corner-all">
			<legend class="ui-widget-header ui-corner-all">Busca</legend>
			<form id="frmBusca">
				<label>Busca:</label>
				<input type="text" name="busca" id="palavra_chave" size="50" />
				<label>Intervalo (segundos):</label>
				<input type="text" name="intervalo" id="intervalo" size="1" />
				<input type="button" value="Buscar" class="ui-state-default ui-corner-all" id="btnBusca" />
				<input type="button" value="Busca aleatória" class="ui-state-default ui-corner-all" id="btnBuscaAleatoria" />
				<input type="button" value="Gerar XML" class="ui-state-default ui-corner-all" id="btnGerarXml" />
			</form>
		</fieldset>
		<div id="resultado">
		
		</div>
	</body>
</html>
